<footer
  class='d-flex py-2 flex-column flex-md-row align-items-center px-md-5 justify-content-between position-fixed bottom-0 w-100 rounded-bottom rounded-pill m-auto text-white'
  style='margin-top: 5rem; background-color: #181870;'
>
  <h6 class='my-0 mr-md-auto font-weight-normal'>© Copyright</h6>

  <div class='my-2 my-md-0 mr-md-3 d-flex'>
    <a class='btn btn-transparent btn-sm text-white text-nowrap' href=''>Contact
      Us</a>
    <select
      class='form-select bg-transparent form-select-sm p-0 ms-2 text-white currencyType'
      aria-label='.form-select-sm example'
      id='currencyType'
      onchange='changeCurrency()'
    >
      <option class='p-0' value='GBP'>GBP</option>
      <option class='p-0' value='USD'>USD</option>
      <option class='p-0' value='EUR'>EUR</option>
    </select>

  </div>
</footer>