<footer
  class='d-flex py-2 flex-column flex-md-row align-items-center px-md-5 justify-content-between position-fixed bottom-0 w-100 rounded-bottom rounded-pill m-auto text-white'
  style='margin-top: 5rem; background-color: #181870;'
>
  <h6 class='my-0 mr-md-auto font-weight-normal'>© Copyright</h6>

  <div class='my-2 my-md-0 mr-md-3'>
    <a class='btn btn-warning btn-light text-black' href=''>Contact Us</a>
  </div>
</footer>