<nav
  class='d-flex flex-column flex-md-row align-items-center p-2 px-md-4 bg-warning justify-content-between'
>
  <a href='/' class='my-0 mr-md-auto font-weight-normal'>STAYHAVEN</a>

  <div class='my-2 my-md-0 mr-md-3 d-flex'>
    <a
      href='/add-listing'
      class='p-2 text-dark btn btn-warning logo-page'
      href=''
    >Add Listing</a>
    <div class='dropdown'>
      <button
        class='btn btn-warning dropdown-toggle'
        type='button'
        id='dropdownMenuButton1'
        data-bs-toggle='dropdown'
        aria-expanded='false'
      >
        My Account
      </button>
      <ul class='dropdown-menu' aria-labelledby='dropdownMenuButton1'>
        <li><a class='dropdown-item bg-light' href='#'>Bookmarks</a></li>
        <li><a class='dropdown-item bg-light' href='#'>Sign-Out</a></li>
      </ul>
    </div>
  </div>
</nav>