<!-- One -->
<div class='card col-sm-12 col-md-5 col-lg-2 m-3'>
  <img
    class='card-img-top'
    src='https://res.cloudinary.com/dooyigunm/image/upload/v1657652029/StayHaven/edgbaston-2/3_r1cw5h.webp'
    alt='Card image cap'
  />
  <div class='d-flex flex-column p-2'>
    <li class='list-unstyled'>Birmingham</li>
    <li class='ms-auto list-unstyled'>£400 p/m</li>
  </div>
</div>
<!-- One -->
<div class='card col-sm-12 col-md-5 col-lg-2 m-3'>
  <img
    class='card-img-top'
    src='https://res.cloudinary.com/dooyigunm/image/upload/v1657652029/StayHaven/edgbaston-2/3_r1cw5h.webp'
    alt='Card image cap'
  />
  <div class='d-flex flex-column p-2'>
    <li class='list-unstyled'>Birmingham</li>
    <li class='ms-auto list-unstyled'>£400 p/m</li>
  </div>
</div>
<!-- One -->
<div class='card col-sm-12 col-md-5 col-lg-2 m-3'>
  <img
    class='card-img-top'
    src='https://res.cloudinary.com/dooyigunm/image/upload/v1657652029/StayHaven/edgbaston-2/3_r1cw5h.webp'
    alt='Card image cap'
  />
  <div class='d-flex flex-column p-2'>
    <li class='list-unstyled'>Birmingham</li>
    <li class='ms-auto list-unstyled'>£400 p/m</li>
  </div>
</div>
<!-- One -->
<div class='card col-sm-12 col-md-5 col-lg-2 m-3'>
  <img
    class='card-img-top'
    src='https://res.cloudinary.com/dooyigunm/image/upload/v1657652029/StayHaven/edgbaston-2/3_r1cw5h.webp'
    alt='Card image cap'
  />
  <div class='d-flex flex-column p-2'>
    <li class='list-unstyled'>Birmingham</li>
    <li class='ms-auto list-unstyled'>£400 p/m</li>
  </div>
</div>

<!-- Two -->
<div class='card col-sm-12 col-md-5 col-lg-2 m-3'>
  <img
    class='card-img-top'
    src='https://res.cloudinary.com/dooyigunm/image/upload/v1657652029/StayHaven/edgbaston-2/3_r1cw5h.webp'
    alt='Card image cap'
  />
  <div class='d-flex flex-column p-2'>
    <li class='list-unstyled'>Birmingham</li>
    <li class='ms-auto list-unstyled'>£400 p/m</li>
  </div>
</div>