<a class='card col-sm-12 col-md-5 col-lg-2 m-3' href='/about-property/2'>
  <img
    class='card-img-top'
    src='https://source.unsplash.com/random/1080x720/?house'
    alt='Card image cap'
  />
  <div class='d-flex flex-column p-2'>
    <li class='list-unstyled'>Birmingham</li>
    <li class='ms-auto list-unstyled'>£400 p/m</li>
  </div>
</a>
<div class='card col-sm-12 col-md-5 col-lg-2 m-3'>
  <img
    class='card-img-top'
    src='https://source.unsplash.com/random/1080x720/?house&1'
    alt='Card image cap'
  />
  <div class='d-flex flex-column p-2'>
    <li class='list-unstyled'>Birmingham</li>
    <li class='ms-auto list-unstyled'>£400 p/m</li>
  </div>
</div>
<div class='card col-sm-12 col-md-5 col-lg-2 m-3'>
  <img
    class='card-img-top'
    src='https://source.unsplash.com/random/1080x720/?house&2'
    alt='Card image cap'
  />
  <div class='d-flex flex-column p-2'>
    <li class='list-unstyled'>Birmingham</li>
    <li class='ms-auto list-unstyled'>£400 p/m</li>
  </div>
</div>
<div class='card col-sm-12 col-md-5 col-lg-2 m-3'>
  <img
    class='card-img-top'
    src='https://source.unsplash.com/random/1080x720/?house&3'
    alt='Card image cap'
  />
  <div class='d-flex flex-column p-2'>
    <li class='list-unstyled'>Birmingham</li>
    <li class='ms-auto list-unstyled'>£400 p/m</li>
  </div>
</div>

<div class='card col-sm-12 col-md-5 col-lg-2 m-3'>
  <img
    class='card-img-top'
    src='https://source.unsplash.com/random/1080x720/?house&4'
    alt='Card image cap'
  />
  <div class='d-flex flex-column p-2'>
    <li class='list-unstyled'>Birmingham</li>
    <li class='ms-auto list-unstyled'>£400 p/m</li>
  </div>
</div>