<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script
      src="https://kit.fontawesome.com/c6e9c752f1.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
    <link
      href="bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script
      src="bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"
      type="text/javascript"
    ></script>
    <link rel="stylesheet" href="./jquery-ui.css" />
    <link rel="stylesheet" href="./styles.css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
  </head>
  <body>
    <div
      class="container-md d-flex flex-md-row flex-column mb-sm-0 mb-5 justify-content-center align-items-center"
    >
      <div class="col">
        <img
          src="https://i2-prod.coventrytelegraph.net/incoming/article21600881.ece/ALTERNATES/s615/1_houses.png"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col text-center d-block align-items-center">
        <div class="col-lg-10 col-sm-11 text-start mx-auto mb-5 fixed">
          <h3 class="my-sm-4">Price per week</h3>
          <h5>Location</h5>
          <div class="d-flex justify-content-start">
            <h5 class="px-3">
              <i class="fa-solid fa-bed"><span class="px-3">3</span></i
              >bed
            </h5>
            <h5 class="px-3">
              <i class="fa-solid fa-toilet"><span class="px-3">3</span></i
              >Bath
            </h5>
            <h5 class="px-3">
              <i class="fa-solid fa-couch"><span class="px-3">1</span></i
              >reception
            </h5>
          </div>
        </div>
        <div
          class="d-md-flex d-none flex-md-column align-items-center sticky-md-bottom"
        >
          <button type="button" class="btn btn-warning col-sm-8 col-md-6 mb-3">
            Email1
          </button>
          <button type="button" class="btn btn-warning col-sm-8 col-md-6">
            Call1
          </button>
        </div>
      </div>
    </div>

    <div class="d-md-none sticky-sm-top text-center py-sm-2 bg-white">
      <button type="button" class="btn btn-warning col-11 mb-2">Email</button>
      <button type="button" class="btn btn-warning col-11">Call</button>
    </div>
    <div class="container-md text-center pt-5">
      <header class="mb-5">
        <h3>Description</h3>
      </header>
      <div class="d-flex flex-column align-items-center">
        <div class="w-75 mb-5 text-start">
          Profectus Estates are proud to present this newly constructed one
          bedroom self contained first floor flat located on Jerry's Lane in the
          popular area of Erdington. Within walking distance to Erdington train
          station and less than 10 minutes by car to the city centre this
          property is ideal for working professionals. The premises itself used
          to be the old Jerry's Inn public house and now has undergone a
          tremendous refurbishment and hence now is offering luxury self
          contained accommodation.
        </div>
        <div class="col-sm-10 col-md-8 col-lg-6">
          <img
            src="https://s1.cdn.autoevolution.com/images/news/these-are-the-big-new-google-maps-features-google-is-now-working-on-160821_1.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="../index.js"></script>
  </body>
</html>
