<!-- Navbar -->
{{>navbar}}
<!-- Back to results -->
<div class='container-md pb-2 pt-4'>
  <a class='text-black backToPage' href='javascript:history.back()'>
    <i class='fa-solid fa-chevron-left'></i>
    Back to search results</a>
</div>

<!-- Images  -->
<div
  class='container-md d-flex flex-md-row flex-column block-section justify-content-center align-items-center'
>
  <div
    class='col d-flex flex-row justify-content-evenly align-content-center flex-wrap'
  >
  {{!-- Images from Db --}}
  {{>descriptionPageImgs}}

  </div>
  <div class='col text-center d-block align-items-center'>
    <div class='col-lg-10 col-sm-11 text-start mx-auto mb-5 fixed'>
      <h2>Location</h2>
      <h3 class='my-sm-4'>Price per week</h3>
      <div class='d-flex justify-content-start'>
        <h5 class='px-3'>
          <i class='fa-solid fa-bed'><span class='px-3'>3</span></i>bed
        </h5>
        <h5 class='px-3'>
          <i class='fa-solid fa-toilet'><span class='px-3'>3</span></i>Bath
        </h5>
        <h5 class='px-3'>
          <i class='fa-solid fa-couch'><span class='px-3'>1</span></i>reception
        </h5>
      </div>
    </div>
    <div
      class='d-md-flex d-none flex-md-column align-items-center sticky-md-bottom'
    >
      <button type='button' class='btn btn-warning col-sm-8 col-md-6 mb-3'>
        Email
      </button>
      <button type='button' class='btn btn-warning col-sm-8 col-md-6'>
        Call
      </button>
    </div>
  </div>
</div>
<!-- Call to action buttons -->
<div class='d-md-none sticky-sm-top text-center py-sm-2 bg-white'>
  <button type='button' class='btn btn-warning col-11 mb-2'>Email</button>
  <button type='button' class='btn btn-warning col-11'>Call</button>
</div>
<div class='d-md-none sticky-sm-top text-center py-sm-2 bg-white'>
  <button type='button' class='btn btn-warning col-11 mb-2'>Email</button>
  <button type='button' class='btn btn-warning col-11'>Call</button>
</div>

<!-- Description -->
<div class='container-md text-center block-section'>
  <div class='d-flex flex-column align-items-center'>
    <header class='col-10 text-start'>
      <h3>Description</h3>
    </header>
    <div
      class='col-10 text-start shadow-sm px-4 pt-3 pb-3 rounded-2'
      id='property-description'
    >
      <p>
        Profectus Estates are proud to present this newly constructed one
        bedroom self contained first floor flat located on Jerry's Lane in the
        popular area of Erdington. Within walking distance to Erdington train
        station and less than 10 minutes by car to the city centre this property
        is ideal for working professionals.The premises itself used to be the
        old Jerry's Inn public house and now has undergone a tremendous
        refurbishment and hence now is offering luxury self contained
        accommodation.
      </p>

      <br />
      <p>
        Profectus Estates are proud to present this newly constructed one
        bedroom self contained first floor flat located on Jerry's Lane in the
        popular area of Erdington. Within walking distance to Erdington train
        station and less than 10 minutes by car to the city centre this property
        is ideal for working professionals.The premises itself used to be the
        old Jerry's Inn public house and now has undergone a tremendous
        refurbishment and hence now is offering luxury self contained
        accommodation.
      </p>
      <br />
      <p>
        Profectus Estates are proud to present this newly constructed one
        bedroom self contained first floor flat located on Jerry's Lane in the
        popular area of Erdington. Within walking distance to Erdington train
        station and less than 10 minutes by car to the city centre this property
        is ideal for working professionals.The premises itself used to be the
        old Jerry's Inn public house and now has undergone a tremendous
        refurbishment and hence now is offering luxury self contained
        accommodation.
      </p>
      <br />
      <p>
        Profectus Estates are proud to present this newly constructed one
        bedroom self contained first floor flat located on Jerry's Lane in the
        popular area of Erdington. Within walking distance to Erdington train
        station and less than 10 minutes by car to the city centre this property
        is ideal for working professionals.The premises itself used to be the
        old Jerry's Inn public house and now has undergone a tremendous
        refurbishment and hence now is offering luxury self contained
        accommodation.
      </p>
    </div>
    <h5 id='more' class='expand-description py-1'>Read more</h5>
    <h5 id='less' class='decrease-description py-1'>Read less</h5>
  </div>
</div>
<!-- Maps -->
<div class='container-md block-section'>
  <header class='text-lg-start col-10 mx-auto'>
    <h3>Location</h3>
  </header>
  <div class='block-section mx-auto col-10' id='map'></div>
</div>
<!-- Footer -->
{{>footer}}