.trendy {
  max-width: 1280px;
}
body {
  overflow-x: hidden;
}
.block-section {
  margin-bottom: 5rem;
}
.block-section-1 {
  margin-bottom: 1rem;
}
.pb-9 {
  padding-bottom: 9rem;
}

.augmentate-1:hover {
  transform: scale(1.01);
}

#navBar-logo {
  -webkit-animation: color-change 8s infinite;
  -moz-animation: color-change 8s infinite;
  -o-animation: color-change 8s infinite;
  -ms-animation: color-change 8s infinite;
  animation: color-change 8s infinite;
}
@keyframes color-change {
  0% {
    color: #ed4264;
  }

  20% {
    color: purple;
  }
  40% {
    color: blue;
  }
  60% {
    color: #ffc371;
  }
  80% {
    color: #ffc371;
  }
  100% {
    color: #ed4264;
  }
}
/* landing page */
.moving {
}
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://cdn.wallpapersafari.com/18/72/WFCoBQ.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: absolute;
  height: 450px;
  width: 100%;
  box-sizing: content-box;
  padding-right: 300px;
  z-index: -12;
  animation: moving 40s linear infinite;
}

.hero-2 {
  height: 450px;
}

@keyframes moving {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translatex(-300px);
  }
  100% {
    transform: translatex(0px);
  }
}

.wave {
  position: absolute;
  bottom: 0;
  fill: white;
}

/* Description page */
#map {
  height: 400px;
  /* The height is 400 pixels */
  /* width: 70%; */
  /* The width is the width of the web page */
}

/* This styles the back to page a tag */
.backToPage {
  border-bottom: 2px solid #ffc107;
  padding-bottom: 2px;
  transition: all 400ms;
}
.backToPage:hover {
  border-bottom: 2px solid #e9af00;
  padding-bottom: 2px;
}

.backToPage:hover i {
  transform: scale(1.1);
  position: relative;
  right: 10px;
}

a {
  text-decoration: none;
  color: black;
}

nav a {
  font-size: 1.2rem;
}
nav a:hover {
  text-decoration: none;
  color: black;
}

/* Expand and contract description area */
#property-description {
  height: 200px;
  display: block;

  overflow: hidden;
}

.expand-description,
.decrease-description {
  color: gray;
}

#less {
  display: none;
  max-width: 1280px;
}

.listing-img-mw {
  max-width: 200px;
}

/* Navbar */

#nav-bar {
  z-index: 999;
}
