.trendy {
  max-width: 1280px;
}

.block-section {
  margin-bottom: 5rem;
}
.block-section-1 {
  margin-bottom: 1rem;
}

/* landing page */
.hero {
  background-image: url('https://content.tui.co.uk/adamtui/2019_10/21_12/a1948b09-5d54-4503-a8d7-aaed00d1931a/beach-holidays-banner-V02-1920x820WebOriginalCompressed.jpg?i10c=img.resize(width:1920);img.crop(width:1920%2Cheight:820)');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 250px;
}

/* Description page */
#map {
  height: 400px;
  /* The height is 400 pixels */
  /* width: 70%; */
  /* The width is the width of the web page */
}

/* This styles the back to page a tag */
.backToPage {
  border-bottom: 2px solid #ffc107;
  padding-bottom: 2px;
  transition: all 400ms;
}
.backToPage:hover {
  border-bottom: 2px solid #e9af00;
  padding-bottom: 2px;
}

.backToPage:hover i {
  transform: scale(1.1);
  position: relative;
  right: 10px;
}

a {
  text-decoration: none;
}

/* Expand and contract description area */
#property-description {
  height: 200px;
  display: block;

  overflow: hidden;
}

.expand-description,
.decrease-description {
  color: gray;
}

#less {
  display: none;
  max-width: 1280px;
}

.listing-img-mw {
  max-width: 200px;
}
