.trendy {
    max-width: 1280px;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  

.block-section {
  margin-bottom: 5rem;
}
.block-section-1 {
  margin-bottom: 1rem;
}
.pb-9{
  padding-bottom: 9rem;
}
/* landing page */
.hero {
  background-image: url('https://www.birmingham.ac.uk/Images/College-MDS-only/facilities/cpd/askpermissiontouse/vm-skyline1250x394.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 450px;
  position: relative;
}

.wave{
  position: absolute;
  bottom: 0;
  fill: white;
}
}

/* Description page */
#map {
  height: 400px;
  /* The height is 400 pixels */
  /* width: 70%; */
  /* The width is the width of the web page */
}

/* This styles the back to page a tag */
.backToPage {
  border-bottom: 2px solid #ffc107;
  padding-bottom: 2px;
  transition: all 400ms;
}
.backToPage:hover {
  border-bottom: 2px solid #e9af00;
  padding-bottom: 2px;
}

.backToPage:hover i {
  transform: scale(1.1);
  position: relative;
  right: 10px;
}

a {
  text-decoration: none;
}

/* Expand and contract description area */
#property-description {
  height: 200px;
  display: block;

  overflow: hidden;
}

.expand-description,
.decrease-description {
  color: gray;
}

#less {
  display: none;
  max-width: 1280px;
}

.listing-img-mw {
  max-width: 200px;
}

