.trendy {
  max-width: 1780px;
}

body {
  overflow-x: hidden;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.block-section {
  margin-bottom: 5rem;
}
.block-section-1 {
  margin-bottom: 1rem;
}
.block-section-3 {
  margin-bottom: 3rem;
}
.pb-9 {
  padding-bottom: 9rem;
}

.augmentate-1:hover {
  transform: scale(1.01);
}

#navBar-logo {
  -webkit-animation: color-change 8s infinite;
  -moz-animation: color-change 8s infinite;
  -o-animation: color-change 8s infinite;
  -ms-animation: color-change 8s infinite;
  animation: color-change 8s infinite;
}
@keyframes color-change {
  0% {
    color: #ed4264;
  }

  20% {
    color: purple;
  }
  40% {
    color: blue;
  }
  60% {
    color: #ffc371;
  }
  80% {
    color: #ffc371;
  }
  100% {
    color: #ed4264;
  }
}
/* landing page */
.moving {
}

/* .hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://cdn.wallpapersafari.com/18/72/WFCoBQ.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: absolute;
  height: 450px;
  width: 100%;
  box-sizing: content-box;
  padding-right: 300px;
  z-index: -12;
  animation: moving 40s linear infinite;
} */

.hero {
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://cdn.wallpapersafari.com/18/72/WFCoBQ.jpeg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: absolute;
  height: 450px;
  width: 100%;
  box-sizing: content-box;
  padding-right: 300px;
  z-index: -12;
  /* animation: moving 40s linear infinite; */
  overflow: hidden;
}
.hero-video {
  position: absolute;
  width: 100%;
  object-fit: contain;
}

.hero-2 {
  height: 450px;
}

@keyframes moving {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translatex(-300px);
  }
  100% {
    transform: translatex(0px);
  }
}

.wave {
  position: absolute;
  bottom: 0;
  fill: white;
}

.property-card {
  position: relative;
  max-height: 360px;
}
#image-property-card {
  object-fit: cover;
  height: 240px;
}
.bookmark-icon {
  position: absolute;
  color: rgb(248, 98, 98);
  padding: 20px;
  font-size: 2rem;
  left: -10px;
  top: -10px;
  z-index: 20;
}
.removeBookmark-icon {
  position: absolute;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.186);
  border-radius: 50%;
  padding: 5px;
  font-size: 2rem;
  right: -20px;
  top: -20px;
}
/* Carousel */

.property-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.carousel {
  /* --carousel--index: 0; */
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  width: 95%;
  /* transform: translateX(calc((var(--carousel--index) * -100%))); */
}
.custom-property-card {
  --cards--per--index: 3;
  flex-basis: 0 0 calc((100% / var(--cards--per--index)));
  min-width: calc((98% / var(--cards--per--index)));
  margin: 0 0.33% 0 0.33%;
}

.left-handle:hover,
.right-handle:hover {
  background-color: rgba(253, 252, 198, 0.186);
}

.carousel-handle {
  background-color: #f1f1f17e;
  width: 2.5%;
  margin: auto;
  height: 306px;
  border: 1px solid rgba(213, 210, 210, 0.451);
  border-radius: 0.2rem;
  z-index: 999;
}
.carousel-handle > div {
  pointer-events: none;
  font-size: 3rem;
}

@media screen and (max-width: 1050px) {
  .custom-property-card {
    --cards--per--index: 2;
    min-width: calc((99% / var(--cards--per--index)));
    margin: 0 0.25% 0 0.25%;
  }
}
@media screen and (max-width: 750px) {
  .custom-property-card {
    --cards--per--index: 1;
    min-width: calc((99% / var(--cards--per--index)));
    margin: 0 0.5% 0 0.5%;
  }
  .carousel {
    width: 80%;
  }
  .carousel-handle {
    width: 10%;
  }
}

/* Description page */
#map {
  height: 400px;
  /* The height is 400 pixels */
  /* width: 70%; */
  /* The width is the width of the web page */
}

/* This styles the back to page a tag */
.backToPage {
  border-bottom: 2px solid #ffc107;
  padding-bottom: 2px;
  transition: all 400ms;
}
.backToPage:hover {
  border-bottom: 2px solid #e9af00;
  padding-bottom: 2px;
}

.backToPage:hover i {
  transform: scale(1.1);
  position: relative;
  right: 10px;
}

a {
  text-decoration: none;
  color: black;
}

nav a {
  font-size: 1.2rem;
}
nav a:hover {
  text-decoration: none;
  color: black;
}

/* Expand and contract description area */
#property-description {
  height: 200px;
  display: block;

  overflow: hidden;
}

.expand-description,
.decrease-description {
  color: gray;
}

#less {
  display: none;
  max-width: 1280px;
}

.listing-img-mw {
  max-width: 200px;
}

/* User Profile Page */

.update-account-btn {
  font-size: 1.2rem;
}

/* Navbar */

#nav-bar {
  z-index: 999;
}

/* Login */

.fullscreen-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0px;
  top: 0px;
  z-index: -1000;
  overflow: hidden;
}

.fullscreen-bg_video {
  width: 110%;
  object-fit: fill;
}

@media screen and (max-width: 750px) {
  .fullscreen-bg {
    width: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    left: 0px;
    top: 0px;
    z-index: -1000;
    overflow: hidden;
  }

  .fullscreen-bg_video {
    height: 100%;
    object-fit: cover;
  }
}

.shadow-video {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  top: 0;
  left: 0;
}
